.game {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.area {
  width: 320px;
  height: 320px;
  padding: 1px;
  background: #EFEBE9;
  margin: 50px auto;

  &__row {
    display: flex;
  }

  &__cell {
    width: 80px;
    height: 80px;
    display: inline-block;
    cursor: pointer;

    &.has-value {
      div {
        background: #ffffff;
      }
    }

    div {
      margin: 1px;
      height: 78px;
      width: 78px;
      display: flex;
      border-radius: 3px;
      font-size: 32px;
      font-family: monospace;
      justify-content: center;
      align-items: center;
      color: #212121;
    }
  }
}