.center {
  text-align: center;
}
.hide {
  opacity: 0;
}

.game {
  width: 322px;
  margin: 10vh auto 0;

  &__back-btn {
    margin: 5px;
    display: inline-block;
    text-align: left;
    cursor: pointer;
    color: #616161;

    &:hover {
      color: #424242;
    }

    &::selection {
      background: transparent;
    }

    & span {
      display: inline-block;
      font-size: 10px;
      vertical-align: top;
      margin: 2px 5px 0 0;

      &::selection {
        background: transparent;
      }
    }
  }
}

.area {
  width: 320px;
  height: 320px;
  padding: 1px;
  background: #E0E0E0;
  margin: 0 auto 50px;

  &__row {
    display: flex;
  }

  &__cell {
    width: 80px;
    height: 80px;
    display: inline-block;
    cursor: pointer;

    &.has-value {
      div {
        background: #ffffff;

        &:hover {
          color: #2196f3;
          box-shadow: 0 0 3px 0 #BDBDBD;

        }
      }
    }

    div {
      margin: 1px;
      height: 78px;
      width: 78px;
      display: flex;
      border-radius: 3px;
      font-size: 32px;
      font-family: monospace;
      justify-content: center;
      align-items: center;
      color: #616161;
    }
  }
}